---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageSlider from '../components/ImageSlider.astro';
---

<BaseLayout title="Home">
  <!-- fractal start -->
  <section class="w-full py-8 lg:py-16 bg-white">
    <div
      class="w-full lg:max-w-[1170px] mx-auto px-5 flex lg:flex-row flex-col justify-between items-center gap-[30px] lg:gap-[50px]"
    >
      <!-- 1 -->
      <div class="w-full lg:max-w-[40%] order-2 lg:order-1">
        <h2
          class="text-[26px] md:text-[41px] font-semibold text-tblack font-poppins tracking-[-3px]"
        >
          What is A Fractal?
        </h2>
        <p class="text-[17px] font-lora text-tgray mt-[10px] mb-[20px]">
          “Fractals are never-ending patterns that are infinitely complex.
          Driven by recursion, fractals are images of dynamic systems – the
          pictures of chaos.” – The Fractal Foundation
        </p>
        <a
          href="https://youtu.be/0jGaio87u3A?si=MG-AKbxYtBTq1uvD"
          target="_blank"
          class="flex items-center text-sm text-blue hover:underline"
          ><img
            src="./images/caret-right-svgrepo-com.svg"
            alt=""
            class="max-w-[18px]"
          /> Watch the video</a
        >
      </div>
      <!-- 2 -->
      <div class="w-full lg:max-w-[60%] order-1 lg:order-2">
        <div class="aspect-video">
          <iframe
            class="w-full h-full"
            src="https://www.youtube.com/embed/0jGaio87u3A?si=HR3Vc2ka766OW3DE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- fractal end -->
  <!-- features start -->
  <section class="w-full py-10 lg:py-16 px-5 bg-gray-100/50">
    <div class="w-full lg:max-w-[1170px] mx-auto">
      <h2
        class="text-[26px] md:text-[41px] font-semibold text-tblack font-poppins tracking-[-3px] text-center mb-7 lg:mb-10"
      >
        Features
      </h2>
      <div class="grid lg:grid-cols-3 gap-6">
        <!-- 1 -->
        <div
          class="bg-white hover:bg-blue/10 flex flex-col justify-center items-center text-center p-8 md:px-[50px] md:py-[40px] rounded-xl shadow-lg hover:shadow-2xl transition-shadow transition-colors ease-in-out duration-500 border border-[#dddddd] h-full"
        >
          <div class="mx-auto">
            <img src="/images/vbf.png" alt="" class="w-full max-w-[100px] lg:max-w-[150px]" />
          </div>
          <h4
            class="mb-2 mt-7 text-[18px] md:text-[21px] font-semibold text-pure-black font-roboto uppercase"
          >
            View Beautiful Fractals
          </h4>
          <p class="text-sm font-roboto text-[#919191] mt-[10px]">
            Fractal To Desktop can render any location in the Mandelbrot Set all
            the way up to 2^1024. That’s the equivalent of zooming from the size
            of the universe down to an atom 8.5 times!
          </p>
        </div>

        <!-- 2 -->
        <div
          class="bg-white hover:bg-blue/10 flex flex-col justify-center items-center text-center p-8 md:px-[50px] md:py-[40px] rounded-xl shadow-lg hover:shadow-2xl transition-shadow transition-colors ease-in-out duration-500 border border-[#dddddd] h-full"
        >
          <div class="mx-auto">
            <img src="/images/theme.ico" alt="" class="w-full max-w-[100px] lg:max-w-[150px]" />
          </div>
          <h4
            class="mb-2 mt-7 text-[18px] md:text-[21px] font-semibold text-pure-black font-roboto uppercase"
          >
            Apply Custom Gradients
          </h4>
          <p class="text-sm font-roboto text-[#919191] mt-[10px]">
            Fractal To Desktop features a gradient creator where you can choose
            any colors you want and they’ll be rendered onto the Mandelbrot Set.
          </p>
        </div>

        <!-- 3 -->
        <div
          class="bg-white hover:bg-blue/10 flex flex-col justify-center items-center text-center p-8 md:px-[50px] md:py-[40px] rounded-xl shadow-lg hover:shadow-2xl transition-shadow transition-colors ease-in-out duration-500 border border-[#dddddd] h-full"
        >
          <div class="mx-auto">
            <img src="/images/speed.ico" alt="" class="w-full max-w-[100px] lg:max-w-[150px]" />
          </div>
          <h4
            class="mb-2 mt-7 text-[18px] md:text-[21px] font-semibold text-pure-black font-roboto uppercase"
          >
            Lightning Fast Speeds
          </h4>
          <p class="text-sm font-roboto text-[#919191] mt-[10px]">
            Fractal To Desktop runs on new fractal generation math that relies
            on Perturbation Theory, allowing it to render thousands of times
            faster!
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- features end -->
  <!-- slider start -->
  <section class="w-full py-10 lg:py-16 bg-white px-5">
    <div class="w-full lg:max-w-[1580px] mx-auto">
      <h2
        class="text-[26px] md:text-[41px] font-semibold text-tblack font-poppins tracking-[-3px] text-center mb-7 lg:mb-10"
      >
        Screenshots
      </h2>
      <div class="">
        <!-- Splide Structure -->
        <ImageSlider />
      </div>
    </div>
  </section>
  <!-- slider end -->
</BaseLayout>
