---
// no props needed for now, but you can add later
---

<header class="bg-gray-900 text-white p-4">
  <nav class="max-w-5xl mx-auto flex justify-between items-center">
    <a href="/" class="font-bold text-lg">Fractal to Desktop</a>
    <ul class="hidden md:flex space-x-6">
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="/about" class="hover:underline">About</a></li>
      <li>  <a href="/math" class="hover:text-blue-500">Math</a></li>
      <li><a href="/blog" class="hover:underline">Blog</a></li>
      <li><a href="/contact" class="hover:underline">Contact</a></li>
    </ul>
  </nav>
</header>
